<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Date</h1>
  <app-control-options
    [dateProperties]="dateProperties"
    (datePropertiesUpdated)="updateDateProperties($event)"
    (disabledToggled)="disableControl($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-date
          [formControlName]="formControlName"
          [dateProperties]="dateProperties"
        ></lib-date>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-date
          [formControlName]="formControlName"
          [dateProperties]="dateProperties"
        ></matti-date>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-date
          [formControlName]="formControlName"
          [dateProperties]="dateProperties"
        ></prime-date>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>
        {{ formGroup.get(formControlName).errors | json }}
      </span>
    </div>
  </div>
</div>
