<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Time</h1>
  <app-control-options
    [disabled]="disabled"
    [timeProperties]="timeProperties"
    (disabledToggled)="disableControl($event)"
    (timePropertiesUpdated)="updateTimeProperties($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-time [formControlName]="formControlName" [timeProperties]="timeProperties"></lib-time>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-time [formControlName]="formControlName" [timeProperties]="timeProperties"></matti-time>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-time [formControlName]="formControlName" [timeProperties]="timeProperties"></prime-time>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>
        {{ formGroup.get(formControlName).errors | json }}
      </span>
    </div>
  </div>
</div>
