<h1>Select</h1>
<app-control-options
  [label]="label"
  [disabled]="disabled"
  (labelUpdated)="updateLabel($event)"
  (disabledToggled)="disableControl($event)"
></app-control-options>

<div [formGroup]="formGroup" class="form-group">
  <lib-select
    formControlName="select"
    id="selectWithValue"
    name="select"
    [label]="label"
    [options]="options"
    [nameProperty]="nameProperty"
    [valueProperty]="valueProperty"
  >
  </lib-select>
</div>
<div class="wrapper">
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ formGroup.status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ formGroup.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ formGroup.pristine }}</span>
    <br />
    <label>Form Control Errors:</label
    ><span> {{ formGroup.get(formControlName).errors | json }}</span>
  </div>
</div>