<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Select</h1>
  <app-control-options
    [disabled]="disabled"
    [selectProperties]="selectProperties"
    (disabledToggled)="disableControl($event)"
    (selectPropertiesUpdated)="updateSelectProperties($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-select formControlName="select" [selectProperties]="selectProperties"></lib-select>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-select formControlName="select" [selectProperties]="selectProperties"></matti-select>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-select formControlName="select" [selectProperties]="selectProperties"></prime-select>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>{{ formGroup.get(formControlName).errors | json }}</span>
    </div>
  </div>
</div>
