<h1>Checkbox</h1>
<app-control-options
  [label]="label"
  [disabled]="disabled"
  (labelUpdated)="updateLabel($event)"
  (disabledToggled)="disableControl($event)"

></app-control-options>

<div [formGroup]="formGroup" class="form-group">
  <lib-checkbox
    [formControlName]="formControlName"
    id="checkboxWithValue"
    [name]="formControlName"
    [label]="label"
  >
  </lib-checkbox>
</div>
<div class="wrapper">
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ formGroup.get(formControlName).status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ formGroup.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ formGroup.pristine }}</span>
    <br />
    <label>Form Control Errors:</label
    ><span>
      {{ formGroup.get(formControlName).errors | json }}</span
    >
  </div>
</div>