<h1>Form Control with Initial Value</h1>
<div [formGroup]="formGroupWithInitialValue" class="form-group">
  <lib-checkbox
    [formControlName]="formControlName"
    id="checkboxWithValue"
    [name]="formControlName"
    [label]="label"
  >
  </lib-checkbox>
</div>
<div class="wrapper">
  <div class="options">
    <label>label:</label><span> {{ label }}</span>
    <br />
    <label>disabled:</label><span> false</span>
  </div>
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ formGroupWithInitialValue.get(formControlName).status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ formGroupWithInitialValue.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ formGroupWithInitialValue.pristine }}</span>
    <br />
    <label>Form Control Errors:</label
    ><span>
      {{ formGroupWithInitialValue.get(formControlName).errors | json }}</span
    >
  </div>
</div>

<h1>Form Control Without Initial Value</h1>
<div [formGroup]="formGroupWithoutInitialValue" class="form-group">
  <lib-checkbox
    [formControlName]="formControlName"
    id="checkboxWithoutValue"
    [name]="formControlName"
    [label]="label"
  >
  </lib-checkbox>
</div>
<div class="wrapper">
  <div class="options">
    <label>label:</label><span> {{ label }}</span>
    <br />
    <label>disabled:</label><span> false</span>
  </div>
  <div class="status">
    <label>Form Group Status:</label
    ><span>
      {{ formGroupWithoutInitialValue.get(formControlName).status }}</span
    >
    <br />
    <label>Form Group Value:</label
    ><span> {{ formGroupWithoutInitialValue.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ formGroupWithoutInitialValue.pristine }}</span>
    <br />
    <label>Form Group Errors:</label
    ><span>
      {{
        formGroupWithoutInitialValue.get(formControlName).errors | json
      }}</span
    >
  </div>
</div>

<h1>Disabled</h1>
<input
  type="checkbox"
  id="disableToggle"
  name="disableToggle"
  [value]="disableControl"
  (click)="disableControl()"
/>
<label for="disableToggle">Enable/Disable</label>
<div [formGroup]="disabledFormGroup" class="form-group">
  <lib-checkbox
    [formControlName]="formControlName"
    id="checkboxDisabled"
    [name]="formControlName"
    [label]="label"
  >
  </lib-checkbox>
</div>
<div class="wrapper">
  <div class="options">
    <label>label:</label><span> {{ label }}</span>
    <br />
    <label>disabled:</label><span> {{ disabledControl }}</span>
  </div>
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ disabledFormGroup.status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ disabledFormGroup.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ disabledFormGroup.pristine }}</span>
    <br />
    <label>Form Control Errors:</label
    ><span> {{ disabledFormGroup.get(formControlName).errors | json }}</span>
  </div>
</div>
