<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Number</h1>
  <app-control-options
    [disabled]="disabled"
    [numberProperties]="numberProperties"
    (disabledToggled)="disableControl($event)"
    (numberPropertiesUpdated)="updateNumberProperties($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-number [formControlName]="formControlName" [numberProperties]="numberProperties"></lib-number>
      </ng-container>
      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-number [formControlName]="formControlName" [numberProperties]="numberProperties"></matti-number>
      </ng-container>
      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-number [formControlName]="formControlName" [numberProperties]="numberProperties"></prime-number>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>
        {{ formGroup.get(formControlName).errors | json }}
      </span>
    </div>
  </div>
</div>
