<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Textbox</h1>
  <app-control-options
    [appearance]="appearance"
    [label]="label"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [pattern]="pattern"
    (appearanceUpdated)="appearanceUpdated($event)"
    (labelUpdated)="updateLabel($event)"
    (placeholderUpdated)="updatePlaceholder($event)"
    (disabledToggled)="disableControl($event)"
    (requiredToggled)="toggleRequired($event)"
    (minlengthUpdated)="updateMinLength($event)"
    (maxlengthUpdated)="updateMaxLength($event)"
  ></app-control-options>

  <div [formGroup]="formGroup" class="form-group">
    <ng-container *ngIf="selectedLibrary === 'HTML'">
      <lib-textbox
        [formControlName]="formControlName"
        id="textboxWithValue"
        [name]="formControlName"
        [label]="label"
        [placeholder]="placeholder"
        [required]="false"
        [minlength]="minlength"
        [maxlength]="maxlength"
        [pattern]="pattern"
      ></lib-textbox>
    </ng-container>
    <ng-container *ngIf="selectedLibrary === 'Material'">
      <matti-textbox
        [appearance]="appearance"
        [formControlName]="formControlName"
        id="textboxWithValue"
        [name]="formControlName"
        [label]="label"
        [placeholder]="placeholder"
        [required]="false"
        [minlength]="minlength"
        [maxlength]="maxlength"
        [pattern]="pattern"
      ></matti-textbox>
    </ng-container>
  </div>
  <div class="wrapper">
    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>
        {{ formGroup.get(formControlName).errors | json }}
      </span>
    </div>
  </div>
</div>
