<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Textbox</h1>
  <app-control-options
    [disabled]="disabled"
    [textboxProperties]="textboxProperties"
    (disabledToggled)="disableControl($event)"
    (textboxPropertiesUpdated)="updateTextboxProperties($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-textbox [formControlName]="formControlName" [textboxProperties]="textboxProperties"></lib-textbox>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-textbox [formControlName]="formControlName" [textboxProperties]="textboxProperties"></matti-textbox>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-textbox [formControlName]="formControlName" [textboxProperties]="textboxProperties"></prime-textbox>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>
        {{ formGroup.get(formControlName).errors | json }}
      </span>
    </div>
  </div>
</div>
