<div class="app" *ngIf="selectedLibrary$ | async as selectedLibrary">
  <header class="header">
    <img class="logo" src="../assets/logo.svg" [routerLink]="['/']" />
    <h1>Angular Reactive Form Controls</h1>
    <div class="take-up-space">
      <div class="control-lib">

        <label for="library-selector">Pick Your Library</label>

        <select
          class="lib-select"
          name="library-selector"
          [value]="selectedLibraryValue"
          (change)="updateControlLibrary($event)"
        >
          <ng-container *ngFor="let library of controlLibraries">
            <option [value]="library" [selected]="selectedLibrary === library">
              {{ library }}
            </option>
          </ng-container>
        </select>
      </div>
    </div>
  </header>
  <nav class="app-outlet">
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./banner']">Banner</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./button']">Button</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./checkbox']">Checkbox</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./date']">Date</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./email']">Email</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./number']">Number</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./password']">Password</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./phone']">Phone</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./radio']">Radio</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./select']">Select</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./table']">Table</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./textarea']">Textarea</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./textbox']">Textbox</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./time']">Time</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./toast']">Notifications</a>
  </nav>
  <main class="app-outlet">
    <router-outlet></router-outlet>
  </main>
</div>
