<div class="app">
  <header class="header">
    <img class="logo" src="../assets/logo.svg" [routerLink]="['/']" />
    <h1>Angular Reactive Form Controls</h1>
    <div class="take-up-space">
      <div class="control-lib">
        <label for="library-selector">Pick Your Library</label>
        <select
          class="lib-select"
          name="library-selector"
          (change)="setControlLibrary($event)"
          [(value)]="selectedLibrary"
        >
          <ng-container *ngFor="let library of controlLibraries">
            <option [value]="library">{{ library }}</option>
          </ng-container>
        </select>
      </div>
    </div>
  </header>
  <nav class="app-outlet">
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./button', selectedLibrary]">Button</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./checkbox', selectedLibrary]">Checkbox</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./date', selectedLibrary]">Date</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./email', selectedLibrary]">Email</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./number', selectedLibrary]">Number</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./password', selectedLibrary]">Password</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./phone', selectedLibrary]">Phone</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./radio', selectedLibrary]">Radio</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./select', selectedLibrary]">Select</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./textarea', selectedLibrary]">Textarea</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./textbox', selectedLibrary]">Textbox</a>
    <a mat-list-item routerLinkActive="active-route" [routerLink]="['./time', selectedLibrary]">Time</a>
  </nav>
  <main class="app-outlet">
    <router-outlet></router-outlet>
  </main>
</div>
