<div class="app">
  <nav>
    <a mat-list-item routerLinkActive="active-route" routerLink="./button">Button</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./checkbox">Checkbox</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./date">Date</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./email">Email</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./number">Number</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./phone">Phone</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./radio">Radio</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./textarea">Textarea</a>
    <a mat-list-item routerLinkActive="active-route" routerLink="./textbox">Textbox</a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>