<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Radio</h1>
  <app-control-options
    [disabled]="disabled"
    [radioProperties]="radioProperties"
    (disabledToggled)="disableControl($event)"
    (radioPropertiesUpdated)="updateRadioProperties($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-radio [formControlName]="formControlName" [radioProperties]="radioProperties"></lib-radio>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-radio [formControlName]="formControlName" [radioProperties]="radioProperties"></matti-radio>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-radio [formControlName]="formControlName" [radioProperties]="radioProperties"></prime-radio>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>{{ formGroup.get(formControlName).errors | json }}</span>
      <br/><br/>
      <i style="color: orange">Color only applies to Material</i>
    </div>

  </div>
</div>
