<div>
  <h1>Primary</h1>
  <lib-button type="primary" (clicked)="buttonClicked()">Click Me</lib-button>
</div>

<div>
  <h1>Secondary</h1>
  <lib-button type="secondary" (clicked)="buttonClicked()"
    >No! Click Me</lib-button
  >
</div>

<div>
  <h1>Flat</h1>
  <lib-button type="flat" (clicked)="buttonClicked()"
    >Do what you will</lib-button
  >
</div>

<div>
  <h1>Icon</h1>
  <lib-button type="flat" (clicked)="buttonClicked()">🚀</lib-button>
</div>

<div>
  <h1>Fab</h1>
  <lib-button type="fab" (clicked)="buttonClicked()">
    <mat-icon>add</mat-icon>
  </lib-button>
</div>

<div>
  <h1>Mini Fab</h1>
  <lib-button type="mini-fab" (clicked)="buttonClicked()">
    <mat-icon>favorite</mat-icon>
  </lib-button>
</div>
