<h1>Phone</h1>
<app-control-options
  [label]="label"
  [placeholder]="placeholder"
  [required]="required"
  [disabled]="disabled"
  (labelUpdated)="updateLabel($event)"
  (placeholderUpdated)="updatePlaceholder($event)"
  (disabledToggled)="disableControl($event)"
  (requiredToggled)="toggleRequired($event)"
></app-control-options>

<div [formGroup]="formGroup" class="form-group">
  <lib-phone
    [formControlName]="formControlName"
    id="phoneWithValue"
    name="phone"
    [label]="label"
    [placeholder]="placeholder"
    [required]="required"
  >
  </lib-phone>
</div>
<div class="wrapper">
  <div class="status">
    <label>Form Group Status:</label><span> {{ formGroup.status }}</span>
    <br />
    <label>Form Group Value:</label><span> {{ formGroup.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label><span> {{ formGroup.pristine }}</span>
    <br />
    <label>Form Control Errors:</label><span> {{ formGroup.get(formControlName).errors | json }}</span>
  </div>
</div>
