<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Password</h1>
  <app-control-options
    [disabled]="disabled"
    [passwordProperties]="passwordProperties"
    (disabledToggled)="disableControl($event)"
    (passwordPropertiesUpdated)="updatePasswordProperties($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-password [formControlName]="formControlName" [passwordProperties]="passwordProperties"></lib-password>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-password [formControlName]="formControlName" [passwordProperties]="passwordProperties"></matti-password>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-password [formControlName]="formControlName" [passwordProperties]="passwordProperties"></prime-password>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>{{ formGroup.get(formControlName).errors | json }}</span>
    </div>
  </div>
</div>
