<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Email</h1>
  <app-control-options
    [disabled]="disabled"
    [emailProperties]="emailProperties"
    (disabledToggled)="disableControl($event)"
    (emailPropertiesUpdated)="updateEmailProperties($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-email [formControlName]="formControlName" [emailProperties]="emailProperties"></lib-email>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-email [formControlName]="formControlName" [emailProperties]="emailProperties"></matti-email>
      </ng-container>

      <ng-container *ngIf="selectedLibrary === 'Prime-NG'">
        <prime-email [formControlName]="formControlName" [emailProperties]="emailProperties"></prime-email>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>{{ formGroup.get(formControlName).errors | json }}</span>
    </div>
  </div>
</div>
