h2 {
  font-weight: 400;
  color: coral;
}

.toggle-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.5rem;

  label {
    margin: 5px;
  }
}
