<hr />
<h2>Control Options</h2>
<div class="toggle-options">
  <!-- Button -->
  <ng-container *ngIf="buttonProperties">
    <!-- 1 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="buttonProperties.disabled"
      (update)="updateButtonProperties($event)"
    ></app-checkbox>
    <!-- 2 -->
    <app-text
      label="Label"
      propertyName="label"
      [value]="buttonProperties.label"
      (update)="updateButtonProperties($event)"
    ></app-text>
    <!-- 3 -->
    <span *ngIf="buttonProperties?.type !== undefined">
      <label for="buttonType">Button Type</label>
      <select
        id="buttonType"
        name="buttonType"
        [value]="buttonProperties.type"
        (change)="updateButtonProperties($event, 'type')"
      >
        <option value="text">Text</option>
        <option value="icon">Icon</option>
        <option value="textWithIcon">Text With Icon</option>
        <option value="link">Link</option>
      </select>
    </span>
    <!-- 1 -->
    <app-checkbox
      label="Has Shadow"
      propertyName="hasShadow"
      [value]="buttonProperties.hasShadow"
      (update)="updateButtonProperties($event)"
    ></app-checkbox>
    <!-- 2 -->
    <app-color [color]="buttonProperties.color" (update)="updateButtonProperties($event)"></app-color>
    <!-- 3 -->
    <span *ngIf="buttonProperties?.display !== undefined">
      <label for="buttonDisplay">Button Display Type</label>
      <select
        id="buttonDisplay"
        name="buttonDisplay"
        [value]="buttonProperties.display"
        (change)="updateButtonProperties($event, 'display')"
      >
        <option value="filled">Filled</option>
        <option value="outlined">Outlined</option>
        <option value="inverted">Inverted</option>
      </select>
    </span>
    <!-- 1 -->
    <app-checkbox
      label="Round"
      propertyName="isRounded"
      [value]="buttonProperties.isRounded"
      (update)="updateButtonProperties($event)"
    ></app-checkbox>
    <!-- 2 -->
    <span *ngIf="buttonProperties?.size !== undefined">
      <label for="size">Size</label>
      <select id="size" name="size" [value]="buttonProperties.size" (change)="updateButtonProperties($event, 'size')">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
    </span>
  </ng-container>

  <!-- Checkbox -->
  <ng-container *ngIf="checkboxProperties">
    <app-text
      [value]="checkboxProperties.label"
      propertyName="label"
      label="Label"
      (update)="updateCheckboxProperties($event)"
    ></app-text>
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <app-label-position
      [position]="checkboxProperties.labelPosition"
      (update)="updateCheckboxProperties($event)"
    ></app-label-position>
    <app-color [color]="checkboxProperties.color" (update)="updateCheckboxProperties($event)"></app-color>
  </ng-container>

  <!-- Date -->
  <ng-container *ngIf="dateProperties">
    <app-text
      [value]="dateProperties.label"
      propertyName="label"
      label="Label"
      (update)="updateDateProperties($event)"
    ></app-text>
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="dateProperties.required"
      (update)="updateDateProperties($event)"
    ></app-checkbox>
  </ng-container>

  <!-- Email -->
  <ng-container *ngIf="emailProperties">
    <!-- 1 -->
    <app-text
      propertyName="label"
      label="Label"
      [value]="emailProperties.label"
      (update)="updateEmailProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Min Length"
      propertyName="minlength"
      [value]="emailProperties.minlength"
      (update)="updateEmailProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-text
      [value]="emailProperties.placeholder"
      propertyName="placeholder"
      label="Placeholder"
      (update)="updateEmailProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="emailProperties.required"
      (update)="updateEmailProperties($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Max Length"
      propertyName="maxlength"
      [value]="emailProperties.maxlength"
      (update)="updateEmailProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-appearance [appearance]="emailProperties.appearance" (update)="updateEmailProperties($event)"></app-appearance>
  </ng-container>

  <!-- Number -->
  <ng-container *ngIf="numberProperties">
    <!-- 1 -->
    <app-text
      [value]="numberProperties.label"
      propertyName="label"
      label="Label"
      (update)="updateNumberProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Min"
      propertyName="min"
      [value]="numberProperties.min"
      (update)="updateNumberProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-text
      [value]="numberProperties.placeholder"
      propertyName="placeholder"
      label="Placeholder"
      (update)="updateNumberProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="numberProperties.required"
      (update)="updateNumberProperties($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Max"
      propertyName="max"
      [value]="numberProperties.max"
      (update)="updateNumberProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-appearance
      [appearance]="numberProperties.appearance"
      (update)="updateNumberProperties($event)"
    ></app-appearance>
    <!-- 2 -->
    <app-number
      label="Step"
      propertyName="step"
      [value]="numberProperties.step"
      (update)="updateNumberProperties($event)"
    ></app-number>
  </ng-container>

  <!-- Password -->
  <ng-container *ngIf="passwordProperties">
    <!-- 1 -->
    <app-text
      [value]="passwordProperties.label"
      propertyName="label"
      label="Label"
      (update)="updatePasswordProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Min Length"
      propertyName="minlength"
      [value]="passwordProperties.passwordRequirements.minlength"
      (update)="updatePasswordProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-text
      [value]="passwordProperties.placeholder"
      propertyName="placeholder"
      label="Placeholder"
      (update)="updatePasswordProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="passwordProperties.required"
      (update)="updatePasswordProperties($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Max Length"
      propertyName="maxlength"
      [value]="passwordProperties.passwordRequirements.maxlength"
      (update)="updatePasswordProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-appearance
      [appearance]="passwordProperties.appearance"
      (update)="updatePasswordProperties($event)"
    ></app-appearance>
    <!-- 2 -->
    <app-checkbox
      label="Require Lower Case"
      propertyName="requireLowerCase"
      [value]="passwordProperties.passwordRequirements.requireLowerCase"
      (update)="updatePasswordProperties($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-checkbox
      label="Require Numbers"
      propertyName="requireNumbers"
      [value]="passwordProperties.passwordRequirements.requireNumbers"
      (update)="updatePasswordProperties($event)"
    ></app-checkbox>
    <!-- 1 -->
    <app-checkbox
      label="Require Upper Case"
      propertyName="requireUpperCase"
      [value]="passwordProperties.passwordRequirements.requireUpperCase"
      (update)="updatePasswordProperties($event)"
    ></app-checkbox>
  </ng-container>

  <!-- Phone -->
  <ng-container *ngIf="phoneProperties">
    <!-- 1 -->
    <app-text
      [value]="phoneProperties.label"
      propertyName="label"
      label="Label"
      (update)="updatePhoneProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Min Length"
      propertyName="minlength"
      [value]="phoneProperties.minlength"
      (update)="updatePhoneProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-text
      label="Placeholder"
      propertyName="placeholder"
      [value]="phoneProperties.placeholder"
      (update)="updatePhoneProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="phoneProperties.required"
      (update)="updatePhoneProperties($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Max Length"
      propertyName="maxlength"
      [value]="phoneProperties.maxlength"
      (update)="updatePhoneProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-appearance [appearance]="phoneProperties.appearance" (update)="updatePhoneProperties($event)"></app-appearance>
    <!-- 2 -->
    <app-text
      [value]="phoneProperties.pattern"
      propertyName="pattern"
      label="Pattern"
      (update)="updatePhoneProperties($event)"
    ></app-text>
  </ng-container>

  <!-- Radio -->
  <ng-container *ngIf="radioProperties">
    <!-- 1 -->
    <app-text
      [value]="radioProperties.label"
      propertyName="label"
      label="Label"
      (update)="updateRadioProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-color [color]="radioProperties.color" (update)="updateRadioProperties($event)"></app-color>
    <!-- 1 -->
    <app-direction [direction]="radioProperties.direction" (update)="updateRadioProperties($event)"></app-direction>
    <!-- 2 -->
    <app-label-position
      [labelPosition]="radioProperties.labelPosition"
      (update)="updateRadioProperties($event)"
    ></app-label-position>
  </ng-container>

  <!-- Select -->
  <ng-container *ngIf="selectProperties">
    <!-- 1 -->
    <app-text
      [value]="selectProperties.label"
      propertyName="label"
      label="Label"
      (update)="updateSelectProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-appearance
      [appearance]="selectProperties.appearance"
      (update)="updateSelectProperties($event)"
    ></app-appearance>
    <!-- 1 -->
    <app-text
      [value]="selectProperties.placeholder"
      propertyName="placeholder"
      label="Placeholder"
      (update)="updateSelectProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="selectProperties.required"
      (update)="updateSelectProperties($event)"
    ></app-checkbox>
  </ng-container>

  <!-- Textarea -->
  <ng-container *ngIf="textareaProperties">
    <!-- 1 -->
    <app-text
      label="Label"
      propertyName="label"
      [value]="textareaProperties.label"
      (update)="updateTextareaProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-appearance
      [appearance]="textareaProperties.appearance"
      (update)="updateTextareaProperties($event)"
    ></app-appearance>
    <!-- 1 -->
    <app-text
      label="Placeholder"
      propertyName="placeholder"
      [value]="textareaProperties.placeholder"
      (update)="updateTextareaProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="textareaProperties.required"
      (update)="updateTextareaProperties($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-number
      label="Columns"
      propertyName="cols"
      [value]="textareaProperties.cols"
      (update)="updateTextareaProperties($event)"
    ></app-number>
    <!-- 1 -->
    <app-number
      label="Rows"
      propertyName="rows"
      [value]="textareaProperties.rows"
      (update)="updateTextareaProperties($event)"
    ></app-number>
    <!-- 2 -->
    <span *ngIf="textareaProperties.wrap !== undefined">
      <label for="wrap">Wrap</label>
      <select
        id="wrap"
        name="wrap"
        [value]="textareaProperties.wrap"
        (update)="updateTextareaProperties($event, 'wrap')"
      >
        <option value="hard">Hard</option>
        <option value="soft">Soft</option>
      </select>
    </span>
  </ng-container>

  <!-- Textbox -->
  <ng-container *ngIf="textboxProperties">
    <!-- 1 -->
    <app-text
      label="Label"
      propertyName="label"
      [value]="textboxProperties.label"
      (update)="updateTextboxProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-appearance
      [appearance]="textboxProperties.appearance"
      (update)="updateTextboxProperties($event)"
    ></app-appearance>
    <!-- 1 -->
    <app-text
      label="placeholder"
      propertyName="placeholder"
      [value]="textboxProperties.placeholder"
      (update)="updateTextboxProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="textboxProperties.required"
      (update)="updateTextboxProperties($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-text
      label="Pattern"
      propertyName="pattern"
      [value]="textboxProperties.pattern"
      (update)="updateTextboxProperties($event)"
    ></app-text>
    <!-- 1 -->
    <app-number
      label="Max Length"
      propertyName="maxlength"
      [value]="textboxProperties.maxlength"
      (update)="updateTextboxProperties($event)"
    ></app-number>
    <!-- 2 -->
    <app-number
      label="Min Length"
      propertyName="minlength"
      [value]="textboxProperties.minlength"
      (update)="updateTextboxProperties($event)"
    ></app-number>
  </ng-container>

  <!-- Time -->
  <ng-container *ngIf="timeProperties">
    <!-- 1 -->
    <app-text
      label="Label"
      propertyName="label"
      [value]="timeProperties.label"
      (update)="updateTimeProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Disabled"
      propertyName="disabled"
      [value]="disabled"
      (update)="disableControl($event)"
    ></app-checkbox>
    <!-- 3 -->
    <app-appearance [appearance]="timeProperties.appearance" (update)="updateTimeProperties($event)"></app-appearance>
    <!-- 1 -->
    <app-text
      label="Placeholder"
      propertyName="placeholder"
      [value]="timeProperties.placeholder"
      (update)="updateTimeProperties($event)"
    ></app-text>
    <!-- 2 -->
    <app-checkbox
      label="Required"
      propertyName="required"
      [value]="timeProperties.required"
      (update)="updateTimeProperties($event)"
    ></app-checkbox>
  </ng-container>
</div>

<hr />
