<hr />
<h2>Control Options</h2>
<div class="toggle-options">
  <!-- Button -->
  <ng-container *ngIf="buttonProperties">
    <ng-container *ngTemplateOutlet="buttonDisplay"></ng-container>
    <ng-container *ngTemplateOutlet="buttonType"></ng-container>
    <ng-container *ngTemplateOutlet="disabled"></ng-container>
    <ng-container *ngTemplateOutlet="badgeNumber"></ng-container>
    <ng-container
      *ngTemplateOutlet="color; context: { color: buttonProperties.color, changeFn: updateButtonProperties.bind(this) }"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="label; context: { label: buttonProperties.label, changeFn: updateButtonProperties.bind(this) }"
    ></ng-container>
    <ng-container *ngTemplateOutlet="hasIcon"></ng-container>
    <ng-container *ngTemplateOutlet="hasShadow"></ng-container>
    <ng-container *ngTemplateOutlet="isRounded"></ng-container>
    <ng-container *ngTemplateOutlet="size"></ng-container>
  </ng-container>

  <!-- Checkbox -->
  <ng-container *ngIf="checkboxProperties">
    <ng-container
      *ngTemplateOutlet="
        label;
        context: { label: checkboxProperties.label, changeFn: updateCheckboxProperties.bind(this) }
      "
    ></ng-container>
    <ng-container *ngTemplateOutlet="disabled"></ng-container>
    <ng-container
      *ngTemplateOutlet="
        labelPosition;
        context: { labelPosition: checkboxProperties.labelPosition, changeFn: updateCheckboxProperties.bind(this) }
      "
    ></ng-container>
    <ng-container
    *ngTemplateOutlet="
      color;
      context: { color: checkboxProperties.color, changeFn: updateCheckboxProperties.bind(this) }
    "
  ></ng-container>
  </ng-container>
</div>
<hr />
<!-- 
<ng-template #appearance>
  <span *ngIf="appearance !== undefined">
    <label for="appearance">Appearance</label>
    <select id="appearance" name="appearance" [(value)]="appearance" (change)="updateAppearance($event)">
      <option value="legacy">Legacy</option>
      <option value="standard">Standard</option>
      <option value="fill">Fill</option>
      <option value="outline">Outline</option>
    </select>
  </span>
</ng-template>
 -->
<ng-template #badgeNumber>
  <span *ngIf="buttonProperties?.badgeNumber !== undefined">
    <label for="badgeNumber">Badge Number</label>
    <input
      type="number"
      id="badgeNumber"
      name="badgeNumber"
      [(value)]="buttonProperties.badgeNumber"
      (change)="updateButtonProperties($event, 'badgeNumber')"
    />
  </span>
</ng-template>

<ng-template #buttonDisplay>
  <span *ngIf="buttonProperties?.display !== undefined">
    <label for="buttonDisplay">Button Display Type</label>
    <select
      id="buttonDisplay"
      name="buttonDisplay"
      [value]="buttonProperties.display"
      (change)="updateButtonProperties($event, 'display')"
    >
      <option value="filled">Filled</option>
      <option value="outlined">Outlined</option>
      <option value="inverted">Inverted</option>
    </select>
  </span>
</ng-template>

<ng-template #buttonType>
  <span *ngIf="buttonProperties?.type !== undefined">
    <label for="buttonType">Button Type</label>
    <select
      id="buttonType"
      name="buttonType"
      [value]="buttonProperties.type"
      (change)="updateButtonProperties($event, 'type')"
    >
      <option value="text">Text</option>
      <option value="icon">Icon</option>
      <option value="textWithIcon">Text With Icon</option>
      <option value="link">Link</option>
    </select>
  </span>
</ng-template>

<ng-template #color let-color="color" let-changeFn="changeFn">
  <span *ngIf="color !== undefined">
    <label for="color">Color</label>
    <select id="color" name="color" [value]="color" (change)="changeFn($event, 'color')">
      <option value="primary">Primary</option>
      <option value="accent">Accent</option>
      <option value="warn">Warn</option>
    </select>
  </span>
</ng-template>
<!-- 
<ng-template #cols>
  <span *ngIf="cols !== undefined">
    <label for="cols">Number of Columns</label>
    <input type="number" id="cols" name="cols" [(value)]="cols" (click)="updateCols($event)" />
  </span>
</ng-template>

<ng-template #direction>
  <span *ngIf="direction !== undefined">
    <label for="direction">Direction</label>
    <select id="direction" name="direction" [(value)]="direction" (change)="updateDirection($event)">
      <option value="vertical">Vertical</option>
      <option value="horizontal">Horizontal</option>
    </select>
  </span>
</ng-template>
-->
<ng-template #disabled>
  <span *ngIf="disabled !== undefined">
    <input type="checkbox" id="disableToggle" name="disableToggle" [value]="disabled" (click)="disableControl()" />
    <label for="disableToggle">Disabled</label>
  </span>
</ng-template>
<!--
<ng-template #disableOptionCentering>
  <span *ngIf="disableOptionCentering !== undefined">
    <input
      type="checkbox"
      id="disableOptionCentering"
      name="disableOptionCentering"
      [(value)]="disableOptionCentering"
      (click)="updateDisableOptionCentering()"
    />
    <label for="disableOptionCentering">Disable Option Centering</label>
  </span>
</ng-template>
-->

<ng-template #hasIcon>
  <span *ngIf="buttonProperties?.hasIcon !== undefined">
    <input
      type="checkbox"
      id="hasIcon"
      name="hasIcon"
      [value]="buttonProperties.hasIcon"
      (click)="updateButtonProperties(null, 'hasIcon')"
    />
    <label for="hasIcon">Has Icon</label>
  </span>
</ng-template>

<ng-template #hasShadow>
  <span *ngIf="buttonProperties?.hasShadow !== undefined">
    <input
      type="checkbox"
      id="hasShadow"
      name="hasShadow"
      [(value)]="buttonProperties.hasShadow"
      (click)="updateButtonProperties(null, 'hasShadow')"
    />
    <label for="hasShadow">Has Shadow</label>
  </span>
</ng-template>

<ng-template #isRounded>
  <span *ngIf="buttonProperties?.isRounded !== undefined">
    <input
      type="checkbox"
      id="isRounded"
      name="isRounded"
      [(value)]="buttonProperties.isRounded"
      (click)="updateButtonProperties(null, 'isRounded')"
    />
    <label for="isRounded">Rounded Corners</label>
  </span>
</ng-template>

<ng-template #label let-label="label" let-changeFn="changeFn">
  <span *ngIf="label !== undefined">
    <label for="label">Label</label>
    <input type="text" id="label" name="label" [value]="label" (change)="changeFn($event, 'label')" />
  </span>
</ng-template>

<ng-template #labelPosition let-position="labelPosition" let-changeFn="changeFn">
  <span *ngIf="position !== undefined">
    <label for="labelPosition">Label Position</label>
    <select id="labelPosition" name="labelPosition" [value]="position" (change)="changeFn($event, 'labelPosition')">
      <option value="before">Before</option>
      <option value="after">After</option>
    </select>
  </span>
</ng-template>
<!--
<ng-template #loading>
  <span *ngIf="loading !== undefined">
    <input type="checkbox" id="loading" name="loading" [(value)]="loading" (click)="updateLoading($event)" />
    <label for="loading">Loading</label>
  </span>
</ng-template>

<ng-template #maxlength>
  <span *ngIf="maxlength !== undefined">
    <label for="maxlength">Max Length</label>
    <input type="number" id="maxlength" name="maxlength" [(value)]="maxlength" (change)="updateMaxLength($event)" />
  </span>
</ng-template>

<ng-template #minlength>
  <span *ngIf="minlength !== undefined">
    <label for="minlength">Min Length</label>
    <input type="number" id="minlength" name="minlength" [(value)]="minlength" (change)="updateMinLength($event)" />
  </span>
</ng-template>

<ng-template #required>
  <span *ngIf="required !== undefined">
    <input
      type="checkbox"
      id="toggleRequired"
      name="toggleRequired"
      [(value)]="required"
      (click)="toggleRequired($event)"
    />
    <label for="toggleRequired">Required</label>
  </span>
</ng-template>

<ng-template #pattern>
  <span *ngIf="pattern !== undefined">
    <label for="pattern">Pattern</label>
    <input type="text" id="pattern" name="pattern" [(value)]="pattern" (change)="updatePattern($event)" />
  </span>
</ng-template>

<ng-template #placeholder>
  <span *ngIf="placeholder !== undefined">
    <label for="placeholder">Placeholder</label>
    <input
      type="text"
      id="placeholder"
      name="placeholder"
      [(value)]="placeholder"
      (change)="updatePlaceholder($event)"
    />
  </span>
</ng-template>

<ng-template #primeButtonDisplayOption>
  <span *ngIf="buttonProperties?.primeButtonDisplayOption !== undefined">
    <label for="primeButtonDisplayOption">Button Type</label>
    <select
      id="primeButtonDisplayOption"
      name="primeButtonDisplayOption"
      [(value)]="primeButtonDisplayOption"
      (change)="updatePrimeButtonDisplayOption($event)"
    >
      <option value="filled">Filled</option>
      <option value="outline">Outline</option>
    </select>
  </span>
</ng-template>

<ng-template #primeButtonType>
  <span *ngIf="buttonProperties?.primeButtonType !== undefined">
    <label for="primeButtonType">Button Type</label>
    <select
      id="primeButtonType"
      name="primeButtonType"
      [(value)]="primeButtonType"
      (change)="updatePrimeButtonType($event)"
    >
      <option value="text">Text</option>
      <option value="icon">Icon</option>
      <option value="textWithIcon">Text with icon</option>
      <option value="link">Link</option>
    </select>
  </span>
</ng-template>

<ng-template #requireLowerCase>
  <span *ngIf="requireLowerCase !== undefined">
    <input
      type="checkbox"
      id="toggleLowerCase"
      name="toggleLowerCase"
      [(value)]="requireLowerCase"
      (click)="toggleRequireLowerCase($event)"
    />
    <label for="toggleLowerCase">Require Lower Case</label>
  </span>
</ng-template>

<ng-template #requireNumbers>
  <span *ngIf="requireNumbers !== undefined">
    <input
      type="checkbox"
      id="toggleNumbers"
      name="toggleNumbers"
      [(value)]="requireNumbers"
      (click)="toggleRequireNumbers($event)"
    />
    <label for="toggleNumbers">Require Numbers</label>
  </span>
</ng-template>

<ng-template #requireUpperCase>
  <span *ngIf="requireUpperCase !== undefined">
    <input
      type="checkbox"
      id="toggleUpperCase"
      name="toggleUpperCase"
      [(value)]="requireUpperCase"
      (click)="toggleRequireUpperCase($event)"
    />
    <label for="toggleUpperCase">Require Upper Case</label>
  </span>
</ng-template>

<ng-template #rows>
  <span *ngIf="rows !== undefined">
    <label for="rows">Number of Rows</label>
    <input type="number" id="rows" name="rows" [(value)]="rows" (click)="updateRows($event)" />
  </span>
</ng-template>

<ng-template #severity>
  <span *ngIf="buttonProperties?.severity !== undefined">
    <label for="severity">Severity (color)</label>
    <select id="severity" name="severity" [(value)]="severity" (change)="updateSeverity($event)">
      <option value=""></option>
      <option value="secondary">Secondary</option>
      <option value="success">Success</option>
      <option value="info">Info</option>
      <option value="warning">Warning</option>
      <option value="help">Help</option>
      <option value="danger">Danger</option>
    </select>
  </span>
</ng-template>

<ng-template #step>
  <span *ngIf="step !== undefined">
    <label for="step">Step</label>
    <input type="number" id="step" name="step" [(value)]="step" (change)="updateStep($event)" />
  </span>
</ng-template> -->

<ng-template #size>
  <span *ngIf="buttonProperties?.size !== undefined">
    <label for="size">Size</label>
    <select id="size" name="size" [value]="buttonProperties.size" (change)="updateButtonProperties($event, 'size')">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
  </span>
</ng-template>

<!-- <ng-template #wrap>
  <span *ngIf="wrap !== undefined">
    <label for="wrap">Wrap</label>
    <select id="wrap" name="wrap" [(value)]="wrap" (change)="updateWrap($event)">
      <option value="hard">Hard</option>
      <option value="soft">Soft</option>
    </select>
  </span>
</ng-template> -->
