<div *ngIf="selectedLibrary$ | async as selectedLibrary">
  <h1>Textarea</h1>
  <app-control-options
    [label]="label"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [cols]="cols"
    [rows]="rows"
    [wrap]="wrap"
    [appearance]="appearance"
    (labelUpdated)="updateLabel($event)"
    (placeholderUpdated)="updatePlaceholder($event)"
    (disabledToggled)="disableControl($event)"
    (requiredToggled)="toggleRequired($event)"
    (colsUpdated)="updateCols($event)"
    (rowsUpdated)="updateRows($event)"
    (appearanceUpdated)="appearanceUpdated($event)"
  ></app-control-options>

  <div class="wrapper">
    <div [formGroup]="formGroup" class="form-group">
      <ng-container *ngIf="selectedLibrary === 'HTML'">
        <lib-textarea
          [formControlName]="formControlName"
          id="textareaWithValue"
          [name]="formControlName"
          [label]="label"
          [placeholder]="placeholder"
          [required]="required"
          [cols]="cols"
          [rows]="rows"
          [wrap]="wrap"
        ></lib-textarea>
      </ng-container>
      <ng-container *ngIf="selectedLibrary === 'Material'">
        <matti-textarea
          [formControlName]="formControlName"
          id="textareaWithValue"
          [name]="formControlName"
          [appearance]="appearance"
          [label]="label"
          [placeholder]="placeholder"
          [required]="required"
          [cols]="cols"
          [rows]="rows"
          [wrap]="wrap"
        ></matti-textarea>
      </ng-container>
    </div>

    <div class="status">
      <label>Form Group Status:</label>
      <span>{{ formGroup.get(formControlName).status }}</span>
      <br />
      <label>Form Group Value:</label>
      <span>{{ formGroup.value | json }}</span>
      <br />
      <label>Form Group Pristine:</label>
      <span>{{ formGroup.pristine }}</span>
      <br />
      <label>Form Control Errors:</label>
      <span>
        {{ formGroup.get(formControlName).errors | json }}
      </span>
    </div>
  </div>
</div>
