<h1>Form Control with Initial Value</h1>
<div [formGroup]="formGroupWithInitialValue" class="form-group">
  <lib-textarea
    [formControlName]="formControlName"
    id="textareaWithValue"
    [name]="formControlName"
    [label]="label"
    [placeholder]="placeholder"
    [required]="false"
    [cols]="cols"
    [rows]="rows"
    [wrap]="hardWrap"
  >
  </lib-textarea>
</div>
<div class="wrapper">
  <div class="options">
    <label>label:</label><span> {{ label }}</span>
    <br />
    <label>placeholder:</label><span> {{ placeholder }}</span>
    <br />
    <label>required:</label><span> false</span>
    <br />
    <label>disabled:</label><span> false</span>
    <br />
    <label>maxlength:</label><span> n/a</span>
    <br />
    <label>cols:</label><span> {{ cols }}</span>
    <br />
    <label>rows:</label><span> {{ rows }}</span>
    <br />
    <label>wrap:</label><span> {{ hardWrap }}</span>
  </div>
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ formGroupWithInitialValue.get(formControlName).status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ formGroupWithInitialValue.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ formGroupWithInitialValue.pristine }}</span>
    <br />
    <label>Form Control Errors:</label
    ><span>
      {{ formGroupWithInitialValue.get(formControlName).errors | json }}</span
    >
  </div>
</div>

<h1>Form Control Without Initial Value</h1>
<div [formGroup]="formGroupWithoutInitialValue" class="form-group">
  <lib-textarea
    [formControlName]="formControlName"
    id="textareaWithValue"
    [name]="formControlName"
    [label]="label"
    [placeholder]="placeholder"
    [required]="false"
    [cols]="cols"
    [rows]="rows"
    [wrap]="hardWrap"
    [maxlength]="maxlength"
  >
  </lib-textarea>
</div>
<div class="wrapper">
  <div class="options">
    <label>label:</label><span> {{ label }}</span>
    <br />
    <label>placeholder:</label><span> {{ placeholder }}</span>
    <br />
    <label>required:</label><span> false</span>
    <br />
    <label>disabled:</label><span> false</span>
    <br />
    <label>maxlength:</label><span> {{ maxlength }}</span>
    <br />
    <label>cols:</label><span> {{ cols }}</span>
    <br />
    <label>rows:</label><span> {{ rows }}</span>
    <br />
    <label>wrap:</label><span> {{ hardWrap }}</span>
  </div>
  <div class="status">
    <label>Form Group Status:</label
    ><span>
      {{ formGroupWithoutInitialValue.get(formControlName).status }}</span
    >
    <br />
    <label>Form Group Value:</label
    ><span> {{ formGroupWithoutInitialValue.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ formGroupWithoutInitialValue.pristine }}</span>
    <br />
    <label>Form Group Errors:</label
    ><span>
      {{
        formGroupWithoutInitialValue.get(formControlName).errors | json
      }}</span
    >
  </div>
</div>

<h1>Required</h1>
<div [formGroup]="requiredFormGroup" class="form-group">
  <lib-textarea
    [formControlName]="formControlName"
    id="textareaWithValue"
    [name]="formControlName"
    [label]="label"
    [placeholder]="placeholder"
    [required]="true"
    [wrap]="softWrap"
  >
  </lib-textarea>
</div>
<div class="wrapper">
  <div class="options">
    <label>label:</label><span> {{ label }}</span>
    <br />
    <label>placeholder:</label><span> {{ placeholder }}</span>
    <br />
    <label>required:</label><span> true</span>
    <br />
    <label>disabled:</label><span> false</span>
    <br />
    <label>maxlength:</label><span> n/a</span>
    <br />
    <label>cols:</label><span> n/a</span>
    <br />
    <label>rows:</label><span> n/a</span>
    <br />
    <label>wrap:</label><span> {{ softWrap }}</span>
  </div>
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ requiredFormGroup.get(formControlName).status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ requiredFormGroup.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ requiredFormGroup.pristine }}</span>
    <br />
    <label>Form Group Errors:</label
    ><span> {{ requiredFormGroup.get(formControlName).errors | json }}</span>
  </div>
</div>

<h1>Disabled</h1>
<input
  type="checkbox"
  id="disableToggle"
  name="disableToggle"
  [value]="disableControl"
  (click)="disableControl()"
/>
<label for="disableToggle">Enable/Disable</label>
<div [formGroup]="disabledFormGroup" class="form-group">
  <lib-textarea
    [formControlName]="formControlName"
    id="textareaWithValue"
    [name]="formControlName"
    [label]="label"
    [placeholder]="placeholder"
    [required]="false"
  >
  </lib-textarea>
</div>
<div class="wrapper">
  <div class="options">
    <label>label:</label><span> {{ label }}</span>
    <br />
    <label>placeholder:</label><span> {{ placeholder }}</span>
    <br />
    <label>required:</label><span> false</span>
    <br />
    <label>disabled:</label><span> {{ disabledControl }}</span>
    <br />
    <label>maxlength:</label><span> n/a</span>
    <br />
    <label>cols:</label><span> n/a</span>
    <br />
    <label>rows:</label><span> n/a</span>
    <br />
    <label>wrap:</label><span> n/a</span>
  </div>
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ disabledFormGroup.status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ disabledFormGroup.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ disabledFormGroup.pristine }}</span>
    <br />
    <label>Form Control Errors:</label
    ><span> {{ disabledFormGroup.get(formControlName).errors | json }}</span>
  </div>
</div>
