<h1>Textarea</h1>
<app-control-options
  [label]="label"
  [placeholder]="placeholder"
  [required]="required"
  [disabled]="disabled"
  [cols]="cols"
  [rows]="rows"
  [wrap]="wrap"
  (labelUpdated)="updateLabel($event)"
  (placeholderUpdated)="updatePlaceholder($event)"
  (disabledToggled)="disableControl($event)"
  (requiredToggled)="toggleRequired($event)"
  (colsUpdated)="updateCols($event)"
  (rowsUpdated)="updateRows($event)"
></app-control-options>

<div [formGroup]="formGroup" class="form-group">
  <lib-textarea
    [formControlName]="formControlName"
    id="textareaWithValue"
    [name]="formControlName"
    [label]="label"
    [placeholder]="placeholder"
    [required]="false"
    [cols]="cols"
    [rows]="rows"
    [wrap]="wrap"
  >
  </lib-textarea>
</div>
<div class="wrapper">
  <div class="status">
    <label>Form Group Status:</label
    ><span> {{ formGroup.get(formControlName).status }}</span>
    <br />
    <label>Form Group Value:</label
    ><span> {{ formGroup.value | json }}</span>
    <br />
    <label>Form Group Pristine:</label
    ><span> {{ formGroup.pristine }}</span>
    <br />
    <label>Form Control Errors:</label
    ><span>
      {{ formGroup.get(formControlName).errors | json }}</span
    >
  </div>
</div>
